#nome{
  height: 180px;
}

#IG2{
  width: 300px;
}

body {
  position: relative; /* Para posicionar o texto em relação ao corpo da página */
}

.texto-direita {
  position: absolute;
  top: 20px;
  right: 20px;
}
