#nome{
  height: 180px;
}

#IG2{
  width: 300px;
}

body {
  position: relative; 
}

.introdução p {
  top: 430px;
  right: 350px;
  width: 50%;
  position: absolute;
  font-size: 18px;
}

p{
  font-size: 18px;
}
